# Asegurar que archivos de shell siempre usen LF
*.sh text eol=lf

# Asegurar que archivos de configuración de Docker usen LF
Dockerfile text eol=lf
docker-compose*.yml text eol=lf
.dockerignore text eol=lf
